/*CSS for Mobile Screen*/
@media screen and (max-width: 480px){

	html {
		font-family: "Depot New W00", Helvetica, Arial, sans-serif;
		padding-top: 0;
		background-color: #f2f2f2;
		color: #2F4062;
		float:left;
	}
	#content, #links, #footer {
		margin-top:20px;
		margin-left:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#header{
		margin-top:60px;
	}
	h1{
		font-size: 35px; /* ~ 33.761px @ 19px/em */
		line-height: 1.0663191256em; /* ~ 36px @ 33.761px/em */
		padding: 0.3554397085em; /* ~ 12px @ 33.761px/em */
	}
	h2{
		font-size:18px;
		margin-bottom:10px;
		padding-left: 12px;
	}
	nav {
		font-weight: 200;
	}
	.tagline{
		padding-left:12px;
	}
	#links {
		margin:0 0 0 20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#instructor{
		
		margin-left:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	.navbar {
		font-family: "Lato", sans-serif;
		overflow: hidden;
		background-color: #2F4062;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.navbar a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px ;
		text-decoration: none;
		font-size: 17px;
	}

	.navbar a:hover {
		background: #ddd;
		color: black;
	}
/* Project Tabs */
	#ClassHeader{
		font-size:18px;
		margin-bottom:10px;
		padding-left: 12px;
	}
	h3{
		font-size:20px;
	}
	h4{
		font-size:20px;
	}
	p{
		margin-bottom:10px;
	}
	li{
		margin:10px;
	}
	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
	}

	.tab button:hover {
		background-color: #ddd;
	}

	.tab button.active {
		background-color: #ccc;
	}

	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}
}
/*
	CSS For Tablet Screen
*/
@media (min-width: 480px) and (max-width: 1220px) {
	html{
		line-height: 1.182em;
		padding: 1.182em;
	}
	body{
		font-family: Arial, Helvetica, sans-serif;
		background-color:  #3498DB;
	}
	h1{
		font-weight: bold;
		margin-bottom: 25px;
		font-size: 35px;
		text-align: center;
	}
	p{
		margin-top: 5px;
		margin-bottom: 15px;	
	}
	li{
		margin-bottom: 10px;
	}
	button{
		background-color: #4CAF50; 
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		padding: 12px 28px;		
	}	
	input[type="checkbox"]{
		float:left;
		margin-top: 2px;
		margin-right: 10px;
	}
	.MonthContainer {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		display:block;		
	}
	.MonthContainer label{
		
	}
	.NewsletterContainer {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 18px;
		display:block;		
	}
	.NewsletterContainer label{
		
	}
	img#book {
		height : 300px;
		width: 50%;
		float : right;
	}
}

/*
	CSS For Desktop Screen
*/

@media screen and (min-width: 1200px){
	html {
		font-family: "Depot New W00", Helvetica, Arial, sans-serif;
		padding-top: 0;
		background-color: #f2f2f2;
		color: #2F4062;
		float:left;
	}
	#content {
		margin:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#header{
		margin-top:60px;
	}
	nav {
		font-weight: 200;
	}
	.navbar {
		font-family: "Lato", sans-serif;
		overflow: hidden;
		background-color: #2F4062;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.navbar a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px ;
		text-decoration: none;
		font-size: 17px;
	}

	.navbar a:hover {
		background: #ddd;
		color: black;
	}
}