/*CSS for Mobile Screen*/
@media screen and (max-width: 480px){

	html {
		font-family: "Depot New W00", Helvetica, Arial, sans-serif;
		padding-top: 0;
		background-color: #f2f2f2;
		color: #2F4062;
		float:left;
	}
	#content, #links, #footer {
		margin-top:20px;
		margin-left:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#header{
		margin-top:60px;
	}
	h1{
		font-size: 35px; /* ~ 33.761px @ 19px/em */
		line-height: 1.0663191256em; /* ~ 36px @ 33.761px/em */
		padding: 0.3554397085em; /* ~ 12px @ 33.761px/em */
	}
	h2{
		font-size:18px;
		margin-bottom:10px;
		padding-left: 12px;
	}
	h3{
		margin-top:10px;
		margin-bottom:10px;
	}
	nav {
		font-weight: 200;
	}
	.tagline{
		padding-left:12px;
	}
	#links {
		margin:0 0 0 20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#instructor{
		
		margin-left:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	.navbar {
		font-family: "Lato", sans-serif;
		overflow: hidden;
		background-color: #2F4062;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.navbar a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px ;
		text-decoration: none;
		font-size: 17px;
	}

	.navbar a:hover {
		background: #ddd;
		color: black;
	}
/* Calendar Page*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
#ClassID{
	
	margin:10px;
}
/* Project Tabs */
	#ClassHeader{
		font-size:18px;
		margin-bottom:10px;
		padding-left: 12px;
	}
	h3{
		font-size:20px;
	}
	h4{
		font-size:20px;
	}
	p{
		margin-bottom:10px;
	}
	li{
		margin:10px;
	}
	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
	}

	.tab button:hover {
		background-color: #ddd;
	}

	.tab button.active {
		background-color: #ccc;
	}

	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}
}

/*
	CSS For Desktop Screen
*/

@media screen and (min-width: 1200px){
	html {
		font-family: "Depot New W00", Helvetica, Arial, sans-serif;
		padding-top: 0;
		background-color: #f2f2f2;
		color: #2F4062;
		float:left;
	}
	#content, #links, #footer {
		margin-top:20px;
		margin-left:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#header{
		margin-top:60px;
	}
	#ClassIndexHeader{
		padding-left:40px;
	}
	h1{
		font-size: 35px; /* ~ 33.761px @ 19px/em */
		line-height: 1.0663191256em; /* ~ 36px @ 33.761px/em */
		padding: 0.3554397085em; /* ~ 12px @ 33.761px/em */
	}
	h2{
		font-size:18px;
		margin-bottom:10px;
		padding-left: 12px;
	}
	h3{
		margin-top:10px;
		margin-bottom:10px;
	}
	nav {
		font-weight: 200;
	}
	.tagline{
		padding-left:12px;
	}
	#links {
		margin:0 0 0 20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	#instructor{
		
		margin-left:20px;
		font-size: 1.1875em;         /* ~ 19px base font size */
		line-height: 1.2631578947em; /* ~ 24px base line height */
	}
	.navbar {
		font-family: "Lato", sans-serif;
		overflow: hidden;
		background-color: #2F4062;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.navbar a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px ;
		text-decoration: none;
		font-size: 17px;
	}

	.navbar a:hover {
		background: #ddd;
		color: black;
	}
	/* Horizontal Tab Bar */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    
    height: 100%;
	margin-bottom:30px;
}

h1{
	padding-left : 40px;
	margin-bottom:0px;
}
#ClassHeader{
	margin-top: 0px;
	padding-left:40px;
}
li{
	padding:5px;
	
}
/*Navbar CSS*/
.navbar {
  overflow: hidden;
  
  position: fixed;
  top: 0;
  width: 100%;
  padding-left:10px;
   background-color: #2F4062;
    color: white;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
	
	#essential-links{
		padding: 0px;
		
	}
}