body{
	padding-top:50px;
	
}
#table1, #table2 , h1, h3{
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table1 td, #table2 td, #customers th {
    border: 2px solid #ddd;
    padding: 8px;
}

#table1 tr:nth-child(even){background-color: #f2f2f2;}
#table2 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}
#table2 tr:hover {background-color: #ddd;}

#table1 th, #table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2F4062;
    color: white;
}
p {
color: red;
}
h1 {
	margin-bottom: 0px;
	color: black;
}
#ClassHeader{
	margin-top:20px;
	margin-bottom:0px;
}
h3{
	margin-top: 5px;
}
/*Navigation */
nav {
  font-weight: 200;
  
}
.navbar {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background-color: #2F4062;
  position: fixed;
  top: 0;
  width: 100%;
 
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
